/* html {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
} */
h1 {
  font-size: 2.5em;
  font-family: Shadows Into Light Two;
}
h3 {
  font-family: Nothing You Could Do;
  font-size: 30px;
  text-align: center;
}

.titel_logo {
  position: relative;
  display: grid;
}
.clausens h1 {
  font-family: Nothing You Could Do;
  transform: rotate(-30deg);
  position: relative;
  top: 2vw;
  left: -7vw;
}

/*Header og footer*/
#navigation,
#footer {
  font-family: Courier New;
  font-size: 1.02em;
  border: 1px solid black;
  padding: 1vw;
  text-align: center;
}
.nav_right {
  display: grid;
  margin-top: 2vw;
}

#navigation a,
#footer a {
  text-decoration: none;
  color: black;
}

#navigation a:hover,
#footer a:hover {
  text-decoration-line: underline;
}

@media (min-width: 960px) {
  /*Header og footer*/
  #navigation,
  #footer {
    display: flex;
    justify-content: space-between;
  }
  .section_wrapper {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  #footer {
    position: relative;
    bottom: 0;
  }

  .nav_right {
    display: flex;
    gap: 3vw;
    margin-top: 0;
  }
}
