/* Regler for alle billeder generelt */
img {
  width: 100%;
  height: auto;
  display: block;
}
/* Placering af footer og header rigtigt på alle sider */
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
}
/*  */

/* Style af tekst/fonts på siderne */

h1 {
  font-size: 3em;
  font-family: Amatic SC;
  text-align: center;
}

h2 {
  font-family: Amatic SC;
  font-size: 2.5em;
}

h3 {
  font-family: Nothing You Could Do;
  font-size: 2em;
  text-align: center;
}

h4 {
  font-family: Nothing You Could Do;
  font-size: 1.5em;
  text-align: center;
}

p {
  font-family: Courier New;
  font-size: 1rem;
  text-align: center;
}

/* Placering af Logo rigtigt på "om os" og "kontakt" */

.titel_logo {
  position: relative;
  display: grid;
}

/*Header og footer*/
#navigation,
#footer {
  font-family: Courier New;
  font-size: 1.02em;
  border: 1px solid black;
  padding: 1vw;
  text-align: center;
}
.nav_right {
  display: grid;
  margin-top: 2vw;
}

.nav_left a {
  font-weight: bold;
}

#navigation a,
#footer a {
  text-decoration: none;
  color: black;
}

#navigation a:hover,
#footer a:hover {
  text-decoration-line: underline;
  color: #c85955;
}

@media (min-width: 960px) {
  /*Header og footer*/
  #navigation,
  #footer {
    display: flex;
    justify-content: space-between;
  }

  .nav_right {
    display: flex;
    gap: 3vw;
    margin-top: 0;
  }
  .nav_left a {
    font-weight: normal;
  }
}
