body {
  background-color: #fcedd9;
}

/* //--mobile-version--// */

.section_wrapper {
  display: grid;
  place-items: center;
  background-color: #efbe78;
  margin: 1rem;
  max-width: 1000px;
  border-width: 0.001rem;
  box-shadow: 0px 0px 10px #ad9f66;
}

.kasse_1 {
  background-color: #e7f1fc;
  margin: 1rem;
  max-width: 700px;
  border-radius: 25px;
  padding: 1.5rem;
  border-width: 0.001rem;
  box-shadow: 0px 0px 10px #ad9f66;
}

.kasse_2 {
  background-color: #e7f1fc;
  margin: 1rem;
  max-width: 700px;
  border-radius: 25px;
  border-width: 0.001rem;
  box-shadow: 0px 0px 10px #ad9f66;
}

.kasse_3 {
  background-color: #e7f1fc;
  margin: 1rem;
  max-width: 700px;
  border-radius: 25px;
  padding: 2.5rem;
  border-style: solid;
  border-width: 0.001rem;
  box-shadow: 0px 0px 10px #ad9f66;
  
}

.juice_drikke img {
  position: relative;
  left: 32vw;
  width: 6rem;
}

.kaffe_drikke img {
  position: relative;
  left: -1vw;
  width: 10rem;
}

.text_1,
.text_2,
.text_3,
.text_4,
.text_5,
.logo,
.overskrift {
  margin: 1rem;
}

/* //--fuldskærm--// */

@media (min-width: 1080px) {
  .section_wrapper {
    margin: 80px auto;
  }

  .kasse_1 {
    margin: 65px auto;
  }

  .kasse_2 {
    margin: 65px auto;
  }

  .kasse_3 {
    margin: 65px auto;
  }

  .juice_drikke img {
    position: relative;
    left: 20vw;
    width: 6rem;
  }
  
  .kaffe_drikke img {
    position: relative;
    left: -1vw;
    width: 10rem;
  }
}
