#section_one {
  position: relative;
}

#section_one video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

video {
  display: grid;
}

img {
  height: 20vw;
  width: 30vw;
  top: -3vw;
  position: relative;
}

.menu {
  top: -96px;
  position: relative;
}

.box {
  position: absolute;
  display: grid;
  justify-content: center;
  top: 4vw;
  left: 29vw;
  background: #e7f1fc;
  border: 1px solid black;
  width: 30vw;
  height: 40vw;
  padding: 20px;
  margin: 50px;
}

a {
  display: grid;
  text-decoration: none;
  font-family: Amatic SC;
  font-size: 50px;
  color: black;
  justify-content: center;
}

a:hover {
  background-color: #f5e08e;
}
