/* //--video--// */

#section_one {
  position: relative;
}

/* #section_one video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
} */

video {
  display: grid;
  max-width: 100%;
  justify-content: center;
}
/* //--Menu navigaion--// */

img {
  height: 20vw;
  width: 30vw;
  top: -3vw;
  position: relative;
}

.menu {
  top: -96px;
  position: relative;
}

.box {
  position: absolute;
  display: grid;
  justify-content: center;
  top: 4vw;
  left: 29vw;
  background: #e7f1fc83;
  box-shadow: 0px 0px 10px black;
  width: 30vw;
  height: 40vw;
  padding: 20px;
  margin: 50px;
}

.menu a {
  display: grid;
  text-decoration: none;
  font-family: Amatic SC;
  font-size: 50px;
  color: black;
  justify-content: center;
  background-color: #b2c5da;
  box-shadow: 0px 0px 10px #243241;
}

.menu a:hover {
  background-color: #f5e08e;
  color: white;
}

/* //-- Mobile first--// */

@media screen and (max-width: 600px) {
  /* //-- Menu navigation--// */
  img {
    height: 20vw;
    width: 30vw;
    top: -3vw;
    position: relative;
  }

  .menu {
    top: -60px;
    position: relative;
  }

  .box {
    position: absolute;
    display: grid;
    justify-content: center;
    top: 4vw;
    left: 29vw;
    background: #e7f1fc83;
    box-shadow: 0px 0px 10px black;
    width: 30vw;
    height: 40vw;
    padding: 20px;
    margin: 50px;
  }

  .menu a {
    display: grid;
    text-decoration: none;
    font-family: Amatic SC;
    font-size: 20px;
    color: black;
    justify-content: center;
  }

  .menu a:hover {
    background-color: #f5e08e;
  }
}
