/* //--video--// */

#section_one {
  display: grid;
  place-items: center;
}

#section_one > * {
  grid-area: 1 / 1;
}
video {
  width: 100%;
}
/* //--Menu navigaion--// */

.box {
  display: grid;
  place-items: center;
  background: #e7f1fc83;
  box-shadow: 0px 0px 10px black;
  margin: 30%;
  width: 40%;
}

.box a {
  text-decoration: none;
  font-family: Amatic SC;
  font-size: 50px;
  color: black;
}

.box h2 {
  width: 90%;
  background-color: #b2c5da;
  box-shadow: 0px 0px 10px #243241;
  text-align: center;
  margin: 5%;
}

.box h2:hover,
a:hover {
  background-color: #f5e08e;
  color: white;
}

/* //-- Mobile first--// */

@media screen and (min-width: 600px) {
  /* //-- Menu navigation--// */

  .box {
    background: #e7f1fc83;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    margin: 50px;
  }
}
