body {
  background-color: #e7f1fc;
}

.section_wrapper {
  display: grid;
}
.titel_logo {
  justify-content: center;
  margin: 2vw;
}

.soc_symbol img {
  display: inline-flex;
  justify-content: center;
  height: 7rem;
  width: 7rem;
}

.soc_symbol_f img {
  display: inline-flex;
  justify-content: center;
  height: 7rem;
  width: 7rem;
}
