.topnav {
    border: 1px solid black;
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Courier New;
    color:black;
}

.topnav_right {
    float: right;
}