body {
  background-color: #fcedd9;
}

/* //--mobile-version--// */

.section_wrapper {
  display: grid;
  place-items: center;
  background-color: #efbe78;
  margin: 1rem;
  max-width: 1000px;
  border-style: solid;
  border-width: 0.001rem;
}

.kasse_1 {
  background-color: #e7f1fc;
  margin: 1rem;
  max-width: 700px;
  border-radius: 25px;
  padding: 1.5rem;
  border-style: solid;
  border-width: 0.001rem;
}

.kasse_2 {
  background-color: #e7f1fc;
  margin: 1rem;
  background-color: #e7f1fc;
  max-width: 700px;
  border-radius: 25px;
  border-style: solid;
  border-width: 0.001rem;
}

.text_1,
.text_2,
.text_3,
.text_4,
.overskrift {
  margin: 1rem;
}

.logo {
  margin-top: 1rem;
}

/* //--fuldskærm--// */

@media (min-width: 1080px) {
  .section_wrapper {
    margin: 80px auto;
  }

  .kasse_1 {
    margin: 65px auto;
  }

  .kasse_2 {
    margin: 65px auto;
  }
}
