body {
  background-color: #fcedd9;
}

.section_wrapper {
  background-color: #efbe78;
  margin: 80px auto;
  max-width: 1000px;
}

.kasse_1 {
  background-color: #e7f1fc;
  margin: 65px auto;
  max-width: 700px;
  border-radius: 25px;
}

.kasse_2 {
  background-color: #e7f1fc;
  margin: 80px auto;
  max-width: 700px;
  border-radius: 25px;
}
/* //--logo img--// */

img {
  position: relative;
  height: 30vw;
  width: 40vw;
  top: -4vw;
  left: 16vw;
}
