body {
  background-color: #f7f1d9;
}

.section_wrapper {
  position: absolute;
  display: grid;
  justify-content: center;
  top: 7vw;
  left: 22vw;
  /* border: 2px solid black; */
  width: 50vw;
  height: 30vw;
  padding: 3vw;
  background-color: #f5e08e;
  box-shadow: 0px 0px 10px #ad9f66;
}

h1 {
  font-size: 2.5em;
}

#section_one a {
  display: grid;
  justify-content: center;
  text-decoration: none;
  font-family: Amatic SC;
  font-size: 2em;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px #ad9f66;
}

#section_one a:hover {
  background-color: black;
  color: white;
}
