body {
  background-color: #e7f1fc;
}

.section_wrapper {
  display: grid;
  justify-content: center;
  text-align: center;
}

.video_wrapper {
  position: relative;
  width: 500;
  height: 400;
  padding-top: calc(100% / (16 / 9));
}
video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.section_wrapper {
  display: grid;
}
.titel_logo {
  justify-content: center;
  margin: 2vw;
}
