body {
  background-color: #e7f1fc;
}

.section_wrapper {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: center;
  text-align: center;
}
.video_wrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: calc(100% / (16 / 9));
  grid-column: 2/3;
}

video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.section_wrapper {
  display: grid;
}
.titel_logo {
  justify-content: center;
  margin: 2vw;
  grid-column: 2/3;
}

.text_box {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  grid-column: 1/4;
}
.text_box p {
  text-align: start;
}

@media (min-width: 960px) {
  .video_wrapper {
    grid-column: 2/3;
  }
}
